<app-hello></app-hello>
<br />
<app-bai05></app-bai05>
<br />
<input type="text" [(ngModel)]="name"  (ngModelChange)="name = $event"/>
<br />
<p class="foo" [style]="{color: 'red', backgroundColor: 'yellow'}">
 Start editing to see some magic happen
</p>

<button (click)="isDanger = !isDanger">
  Toggle Danger
</button>
<br />

<button (click)="isWarning = !isWarning">
    Toggle Warning
</button>

<!-- Cách 1 -->
<div class="box" [class.red-border]="isDanger" [class.yellow-background]="isWarning">
</div>

<!-- Cách 2 -->
<div class="box" [class]="{'red-border': isDanger, 'yellow-background': isWarning}">
</div>

<br />
<app-progress-bar
  [progress]="15"
  [backgroundColor]="'#9e9e9e'"
  [progressColor]="'#2e8b57'"
>
</app-progress-bar>

<br />

<!-- Bai 8 -->
<app-author-list></app-author-list>

<!-- Bai 9 -->
<br />
<!-- ToggleComp là instance của ToggleComponent -->
<app-toggle #toggleComp [(checked)]="checked"></app-toggle>

<!-- Bai 10 -->
<button (click)="toggleComp.toggle()">Toggle me</button>

<!-- Bai 14 -->
<div class="card">
  <div class="card-header">
    You have selected
    <ng-container [ngTemplateOutlet]="counterTmpl"></ng-container> items.
  </div>
  <div class="card-body">
    There are <ng-container [ngTemplateOutlet]="counterTmpl"></ng-container> items was
    selected.
  </div>
  <div class="card-footer">
    You have selected
    <ng-container [ngTemplateOutlet]="counterTmpl"></ng-container> items.
  </div>
</div>
<ng-template #counterTmpl>
  <span class="badge badge-danger">{{counter}}</span> items
</ng-template>

<!-- Bai 15 -->
<br />
<button class="btn btn-primary" (click)="showTab = !showTab">Toggle Tab 4</button>
<app-tab-group>
  <app-tab-panel title="Tab 1">
    Content tab 1
  </app-tab-panel>
  <app-tab-panel title="Tab 2">
    content tab 2
  </app-tab-panel>
  <app-tab-panel title="Tab 3">
    content tab 3
  </app-tab-panel>
<app-tab-panel title="Tab 4" *ngIf="showTab">
    content tab 4
</app-tab-panel>
</app-tab-group>

<!-- Day 18: Hoc ve pipe -->
<br />
<app-pipe-example></app-pipe-example>

<br />
<div class="container form-area mt-5">
  <h3>User Details</h3>
  <form #f="ngForm" (submit)="saveData(f)">
    <div class="form-group">
      <label>Name: </label>
      <input class="form-control" type="text" placeholder="Name" name="fullName" ngModel #fullName='ngModel' (change)="getValue(fullName.value)" required
       [ngClass]="{'is-invalid': fullName.touched && fullName.invalid}"
       minlength="5"
      />
      <div *ngIf="fullName.errors">
        <div class="alert alert-danger" *ngIf="fullName.touched && fullName.invalid">Full Name is required</div>
      </div>

    </div>
    <div class="form-group">
      <label>Email: </label>
      <input  class="form-control" type="email" placeholder="Email" name="email" ngModel #email="ngModel" (change)="getValue(email.value)" required/>
      <div *ngIf="email.errors">
        <div class="alert alert-danger" *ngIf="email.touched && email.invalid">Email is required</div>
      </div>
    </div>

    <div>
      <label>Address: </label>
      <textarea  class="form-control" cols="30" rows="10" placeholder="Address" name="address" ngModel #address="ngModel" required></textarea>
      <div *ngIf="address.errors">
        <div class="alert alert-danger" *ngIf="address.touched && address.invalid">Address is required</div>
      </div>
    </div>

    <button class="btn btn-success" type="submit">Save Data</button>
  </form>

</div>

<div class="container mt-4">
    <div class="table-area">
        <table width="500">
            <thead>
               <th>#</th>
               <th>Name</th>
               <th>Email</th>
               <th>Address</th>
            </thead>
        </table>
    </div>
</div>
